nav {
  background-color: rgb(73, 180, 96);
  height: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  margin: 0 0 0 8vh;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.screen{
  display: flex;
  justify-content: center;
  margin: 0 0 0 0;
  align-items: center;
  height: 90vh;
}

.container {

  padding: 0 0 20px 0;
  border: 2px solid rgb(250, 164, 73);
  border-radius: 15px;
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 70vh;
  background-color: white;
}

.title {
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  margin: 8vh 0 6vh 0;
  font-weight: bold;
  color: rgb(250, 164, 73);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputsgroup{
  display: flex;
}

.inputs {
  width: 34vh;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.signup {
  color: white;
  background-color: rgb(73, 180, 96);
  margin: 4vh 0 3vh ;

}

.signin{
  display: flex;
}

.hyperlink {
  color:rgb(93, 213, 119);
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}
.btn:hover {
  opacity: 0.8;
}

