<div class="content">
  <h2>Ваши данные</h2>
  <div class="account-info">
    <div class="first-column">
      <div class="photo-card">
        <img src="assets/images/org-photo.png" />
        <h2>{{ org.name }}</h2>
      </div>
      <div class="link">
        <img src="assets/profile-svg/vk-svgrepo-com.svg" />
        <img src="assets/profile-svg/youtube-svgrepo-com.svg" />
        <img class="tg" src="assets/profile-svg/telegram-svgrepo-com.svg" />
      </div>
      <div class="btn">
        <button class="btn-del-acc" (click)="deleteAccount()">
          Удалить аккаунт
        </button>
        <button (click)="editInfo()" class="btn-edit">Изменить</button>
      </div>
    </div>

    <div class="second-column">
      <table class="org-info-table">
        <tbody>
          <tr>
            <td><strong>Логин</strong></td>
            <td>{{ org.username }}</td>
          </tr>
          <tr>
            <td><strong>Город</strong></td>
            <td>{{ org.city }}</td>
          </tr>
          <tr>
            <td><strong>Номер телефона</strong></td>
            <td>{{ org.phoneNumber }}</td>
          </tr>
          <tr>
            <td><strong>Серия паспорта</strong></td>
            <td>{{ org.passportSeries }}</td>
          </tr>
          <tr>
            <td><strong>Номер паспорта</strong></td>
            <td>{{ org.passportNumber }}</td>
          </tr>
        </tbody>
      </table>

      <div class="pets-info">
        <div class="pets-info-filter">
          <input
            class="pet-search"
            type="text"
            placeholder="Поиск по кличке"
            #filter
            (input)="filterPet(filter.value)"
          />
          <button mat-icon-button class="btni" [matMenuTriggerFor]="filterMenu">
            <mat-icon>filter_list</mat-icon>
          </button>
          <button mat-icon-button class="btni" (click)="addPet()">
            <mat-icon>add_circle_outline</mat-icon>
          </button>
          <mat-menu #filterMenu="matMenu">
            <label mat-menu-item (click)="$event.stopPropagation()">
              <mat-checkbox
                [(ngModel)]="showActivePet"
                (ngModelChange)="filterPet(filter.value)"
                value="true"
                class="activeCheckbox"
              ></mat-checkbox>
              Активные питомцы
            </label>
            <label mat-menu-item (click)="$event.stopPropagation()">
              <mat-checkbox
                [(ngModel)]="showFrozenPet"
                (ngModelChange)="filterPet(filter.value)"
                value="true"
                class="frozenCheckbox"
              ></mat-checkbox>
              Замороженные питомцы
            </label>
            <label mat-menu-item (click)="$event.stopPropagation()">
              <mat-checkbox
                [(ngModel)]="showAdoptedPet"
                (ngModelChange)="filterPet(filter.value)"
                value="true"
                class="adoptedCheckbox"
              ></mat-checkbox>
              Усыновленные питомцы
            </label>
          </mat-menu>
        </div>

        <div class="pet-table-wrapper">
          <table
          class="pet-table"
          mat-table
          [dataSource]="filterPets"
          class="mat-elevation-z2"
        >
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let pet">
              <mat-icon
                class="statusDot"
                [style.color]="setStatusDotColor(pet.status)"
                >fiber_manual_record</mat-icon
              >
            </td>
          </ng-container>

          <!-- Тип -->
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Тип</th>
            <td mat-cell *matCellDef="let pet">{{ pet.type }}</td>
          </ng-container>

          <!-- Имя -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Имя</th>
            <td mat-cell *matCellDef="let pet">{{ pet.name }}</td>
          </ng-container>

          <!-- Пол -->
          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef>Пол</th>
            <td mat-cell *matCellDef="let pet">
                {{ isGenderMan(pet.gender) ? "М" : "Ж" }}
            </td>
          </ng-container>

          <!-- Возраст -->
          <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef>Возраст</th>
            <td mat-cell *matCellDef="let pet">
              {{ getAgePet(pet.birthDay) }}
            </td>
          </ng-container>

          <!-- Порода -->
          <ng-container matColumnDef="breed">
            <th mat-header-cell *matHeaderCellDef>Порода</th>
            <td mat-cell *matCellDef="let pet" class="rightField">
              {{ getPetBreed(pet.breed) }}
            </td>
          </ng-container>

          <!-- Действия -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Действия</th>
            <td mat-cell *matCellDef="let pet">
              <ng-container *ngIf="!isAdoptedPet(pet.status)">
                <button
                  mat-icon-button
                  class="btnActionsPet list"
                  title="Заявки"
                  (click)="listRequest(pet)"
                >
                  <mat-icon>list_alt</mat-icon>
                </button>
              </ng-container>

              <ng-container *ngIf="isActivePet(pet.status); else frozenBtns">
                <button
                  mat-icon-button
                  class="btnActionsPet unit"
                  title="Заморозить"
                  (click)="freezePet(pet.id)"
                >
                  <mat-icon>ac_unit</mat-icon>
                </button>
              </ng-container>
              <ng-template #frozenBtns>
                <ng-container *ngIf="!isAdoptedPet(pet.status)">
                  <button
                    mat-icon-button
                    class="btnActionsPet edit"
                    title="Редактировать"
                    (click)="updatePet(pet)"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    class="btnActionsPet active"
                    title="Активировать"
                    (click)="activePet(pet.id)"
                  >
                    <mat-icon>settings_backup_restore</mat-icon>
                  </button>
                </ng-container>
              </ng-template>

              <button
                mat-icon-button
                class="btnActionsPet del"
                title="Удалить"
                (click)="deletePet(pet.id)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>
