.content {
  border-radius: 15px;
  border: 2px solid rgb(250, 164, 73);
  margin: 5vh auto;
  padding: 0 0 20px 0;
  flex-direction: column;
  display: flex;
  width: 80%;
  background-color: white;
  h2{
    text-align: center;
    margin-bottom: 2vh;
  }
}

.icon-account{
  font-size: 10vh;
  width: auto;
  margin: 40px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-pets{
  display: flex;
  justify-content: space-between;
  margin: 0 5vh;
  align-items:  flex-start;
}

.info{
  margin:0;
  padding: 0;
}

.fields{
  display: flex;
  text-align: left;
  font-size: 16px;
  margin: 3vh 10vh 0 10vh;
  justify-content: space-between;
}

.firstcollumn{
  margin-right: 10vh;
}

.text-info{
  display: inline-block;
  margin: 10px 0 30px 0;
}

.subtitle{
  color: gray;
  margin: 0;
}

.btn{
  display: flex;
  margin: 15px 30px;
}

.btn-del-acc{
  background-color: white;
  border: none;
  color: #808080;
  text-decoration: underline;
  &:hover{
    cursor: pointer;
    color: #b2b2b2;
  }
}

.btn-edit{
  background-color: white;
  border: none;
  font-size: 14px;
  text-decoration: underline;
  margin-left:21vh;
  &:hover{
    cursor: pointer;
    color: #3b3b3b;
  }
}

.icon-edit{
  font-size: 20px;
}

.par-pets{
  display: flex;
  align-items: center;
  justify-content: space-between;
  input{
    height: 20px;
    width: 300px;
    margin-right: auto;
  }
  p{
    margin: 0 2vh 0 0;
    font-size: 20px;
  }

  .btni{
    color: black;
    width: 40px;
    height: 40px;
    .mat-icon {
      font-size: 30px;
      height: 27px;
      width: auto;
      margin: 0;
      padding: 0;
    }
    &:hover{
      background-color: rgb(245, 245, 245);
      transition: 0.2s;
    }
  }
}

::ng-deep .activeCheckbox.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: rgb(99, 172, 84) !important;
}

::ng-deep .frozenCheckbox.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: rgb(24, 197, 209) !important;
}

::ng-deep .adoptedCheckbox.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: rgb(250, 164, 73) !important;
}
.list-pets{
  background-color: #cacaca;
  border-radius: 2%;
  padding: 1px;
  max-height: 100%;
  height: 46vh;
  width: 90vh;
  overflow-y: scroll;
  ul{
    list-style:none;
    display: flex;
    align-items: center;
    border: 2px solid rgb(195, 195, 195);
    margin: 5px;
    background-color:#ededed;
  }

  ul li{
    font-size: 20px;
    padding: 0;

  }

  img{
    height: 5vh;
    width: 5vh;
    margin: 0 2vh 0 0 ;
  }

  .btnActionsPet{
    position: relative;
    display: flex;
    align-items: center;
    height: 24px;
    width: 24px;
    margin-right: 4px;

    mat-icon{

      position: absolute;
      font-size: 24px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:hover{
      background-color: #dadada;
    }
  }
  .li-list{
    margin-left: auto;
  }

  .unit{
    color: rgb(24, 214, 228);
  }
  .del{
    color:rgb(255, 50, 50)
  }
}

.gender-icon{
  font-size: 35px;
  margin: 0 2vh 0 0;
}
