<app-navigation-menu></app-navigation-menu>

<div class="container">
  <div class="content" *ngIf="isAuthenticatedUser(); else profile_org">
    <div class="info">
      <div class="header">
        <h2>Ваши данные</h2>
      </div>

      <div class="info-user">
        <div class="info-user-column">
          <div class="info-user-column-item">
            <span class="subtitle">Имя</span>
            <span class="text-info">{{ user.name }}</span>
          </div>
          <div class="info-user-column-item">
            <span class="subtitle">Логин</span>
            <span class="text-info">{{ user.username }}</span>
          </div>
        </div>
        <div class="info-user-column">
          <div class="info-user-column-item">
            <div class="info-user-column-item">
              <span class="subtitle">Фамилия</span>
              <span class="text-info">{{ user.lastname }}</span>
            </div>
            <span class="subtitle">Номер телефона</span>
            <span class="text-info">{{ user.phoneNumber }}</span>
          </div>
        </div>
      </div>

      <div class="btn">
        <button (click)="editInfo()" class="btn-edit">Изменить</button>
        <button class="btn-del" (click)="deleteAccount()">Удалить аккаунт</button>
      </div>
    </div>

    <div class="footer-image">
      <img src="assets/images/catnatrave.png" alt="Фото футера" />
    </div>
  </div>

  <ng-template #profile_org>
    <app-profile-org></app-profile-org>
  </ng-template>

  <app-footer class="footer"></app-footer>
</div>
