.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  border-radius: 15px;
  border: 2px solid rgb(250, 164, 73);
  margin: 5vh auto;
  padding: 0 0 20px 0;
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  width: 55vh;
  max-height: a0;
  background-color: white;
  h2{
    text-align: center;
    margin-bottom: 2vh;
  }
}

.icon-account{
  font-size: 10vh;
  width: auto;
  margin: 40px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info{
  text-align: left;
  font-size: 16px;
  margin: 0 10vh;
}

.text-info{
  display: inline-block;
  margin: 10px 0 30px 0;
}

.subtitle{
  color: gray;
margin: 0;
}

.btn{
  display: flex;
  justify-content: space-between;
  margin: 7vh 30px 15px 30px;
}

.btn-del{

  background-color: white;
  border: none;
  color: #808080;
  text-decoration: underline;
  &:hover{
    cursor: pointer;
    color: #b2b2b2;
  }
}

.btn-edit{
  background-color: white;
  border: none;
  font-size: 14px;
  text-decoration: underline;
  &:hover{
    cursor: pointer;
    color: #3b3b3b;
  }
}

.icon-edit{
  font-size: 20px;
}

.footer{
  margin-top: auto;
}
