.content{
  display: flex;

  flex-direction: column;
  margin: 1vh auto;
  border: 2px solid rgb(250, 164, 73);
  border-radius: 15px;
  background-color: white;
  width: 70%;
  img{
    margin: 2vh 0 5vh 0;
    width: 80%;
    height: auto;
  }
  h1{
  font-size: 30px;
  margin: 0 0 4vh 0;
}
}


.img-h1{
  text-align: center;
}

.text{
  font-size: 18px;
  line-height : 1.5;
  margin-left: 5vh;
  text-align: left;
  max-width: 98ch;
}

.for-whom {
  text-align: left;
  margin:  0 0 0 7vh;
}
ul li{
  margin: 0 0 20px 0;
}

.slogan {
  background-color: rgb(54, 134, 71);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

