<app-navigation-menu></app-navigation-menu>
<div class="content">
  <div class="img-h1">
    <img src="../../../assets/images/dog-about.jpg" alt="Собачка">
    <h1>PetHaven</h1>
    <p class="text">PetHaven - проект, который направлен помочь животным найти свой дом.
      Мы вносим вклад в развитие системной помощи в сфере защиты животных, способствуем развитию инфраструктуры
      некоммерческих организаций.
    </p>
  </div>
  <div class="for-whom" style="margin: 2vh 0 0 7vh;">
    <h2>Для приютов</h2>
  </div>
  <ul>
    <li class="text">Любой приют может обратиться за возможностью подключения к площадке PetHaven;</li>
    <li class="text">Cервис привлекает пользователей для целей поддержки животных на платформе.</li>
  </ul>
  <div class="for-whom">
    <h2>Для пользователей</h2>
  </div>
  <ul>
    <li class="text">Каждый пользователь может получить доступ ко всем возможностям сервиса помощи животным и приютам;</li>
    <li class="text"> Любой пользователь может воспользоваться нашей поддержкой через онлайн-чат или соц.сети. Команда PH
      готова помочь по всем вопросам касательно подбора приюта и другим вопросам, возникающим в ходе помощи
      животным на платформе;</li>
      <li class="text">Платформа PetHaven не принимает животных и не размещает объявления о пропаже/нахождении питомцев;</li>
      <li class="text">Сервис сотрудничает исключительно с юридическими лицами (приютами) и занимается рекламой только
        подопечных приютов-партнёров.</li>
  </ul>
  </div>

  <div class="slogan">

  </div>
