<app-navigation-menu></app-navigation-menu>
<h1>Animals</h1>

<div class="main-container">
  <div class="filter-sidebar">
    <div class="input-container">
      <input class="search" placeholder="Поиск по кличке" [(ngModel)]="filterFields.name" (keyup)="SearchInputKeyPress($event)">
      <button mat-raised-button class="search-btn" (click)="search()">Найти</button>
    </div>

    <h4>Пол</h4>
    <mat-radio-group [(ngModel)]="filterFields.gender" (change)="search()">
      <mat-radio-button value="all">Все</mat-radio-button><br>
      <mat-radio-button value="M">Мальчики</mat-radio-button><br>
      <mat-radio-button value="F">Девочки</mat-radio-button>
    </mat-radio-group>

    <h4>Вид питомца</h4>
    <mat-form-field appearance="fill">
      <mat-label>Виды</mat-label>
      <mat-select [(value)]="filterFields.type" (selectionChange)="search()">
        <mat-option>Все виды</mat-option>
        <mat-option *ngFor="let animalType of animalTypes" [value]="animalType.name">{{animalType.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <h4>Город</h4>
    <mat-form-field appearance="fill">
      <mat-label>Города</mat-label>
      <mat-select [(value)]="filterFields.city" (selectionChange)="search()">
        <mat-option>Все города</mat-option>
        <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
      </mat-select>
    </mat-form-field>

    <h4>Приют</h4>
    <mat-form-field appearance="fill">
      <mat-label>Приют</mat-label>
      <mat-select [(value)]="filterFields.organizationName" (selectionChange)="search()">
        <mat-option>Все приюты</mat-option>
        <mat-option *ngFor="let org of orgs" [value]="org.name">{{org.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Контент справа -->
  <div class="content">
    <div *ngIf="isOrg()">
      <button mat-raised-button (click)="addPet()">Добавить питомца</button>
    </div>

    <div class="pet-list" *ngIf="animals.length > 0; else text">
      <div class="pet-item" *ngFor="let animal of animals" (click)="goPetPage(animal.id)">
        <div class="pet-image">
          <img *ngIf="getImageUrl(animal.name); else noImage" [src]="getImageUrl(animal.name)" alt="Photo" loading="lazy" />
          <ng-template #noImage>
            <div class="empty-image"></div>
          </ng-template>
        </div>
        <div class="pet-info">
          <h2>{{ animal.name }}</h2>
          <p>Пол: {{ getGender(animal.gender) }}</p>
          <p>Возраст: {{ getPetAge(animal.birthDay) }}</p>
          <p>Вид: {{ animal.type }}</p>
          <p>Порода: {{ getPetBreed(animal.breed) }}</p>
        </div>
      </div>
    </div>

    <mat-paginator [length]="pageLength"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[15, 30, 50]"
                   [pageIndex]="pageIndex"
                   (page)="changePage($event)">
    </mat-paginator>

    <ng-template #text>
      <p style="text-align: center;font-size: 26px;margin: 5vh 0;">Питомцы не найдены</p>
    </ng-template>
  </div>
</div>

<app-footer></app-footer>
