<div *ngIf="isSignedUp; else signupForm">
  Your registration is successful. Please login!
</div>

<ng-template #signupForm>
  <app-navigation-menu></app-navigation-menu>
  <div class="container">
    <h1 mat-title class="title">Регистрация</h1>
    <div mat-content class="content">
      <div class="inputsgroup">
      <div class ="inputs">
      <mat-form-field  >
        <input matInput type="text" placeholder="Логин" [(ngModel)]="form.username" required>
      </mat-form-field>
      <mat-form-field  >
        <input matInput type="text" placeholder="Пароль" [(ngModel)]="form.password" required>
      </mat-form-field>
      <mat-form-field  >
        <input matInput type="text" placeholder="Название организации" [(ngModel)]="form.nameOrganization" required>
      </mat-form-field>
      <mat-form-field  >
        <input matInput type="number" placeholder="Номер телефона" [(ngModel)]="form.phoneNumber" required>
      </mat-form-field>
      </div>
      <div class="inputs">
      <mat-form-field  >
        <input matInput type="text" placeholder="Ваш город" [(ngModel)]="form.city" required>
      </mat-form-field>
      <mat-form-field  >
        <input matInput type="number" placeholder="Серия паспорта" [(ngModel)]="form.passportSeries" required>
      </mat-form-field>
      <mat-form-field  >
        <input matInput type="number" placeholder="Номер паспорта" [(ngModel)]="form.passportNumber" required>
      </mat-form-field>
      </div>
      </div>
      <mat-error class="errorMessageLogin" *ngIf="errorMessage">{{ errorMessage }}</mat-error>
      <div mat-actions class="actions">
      <button mat-raised-button class="signup" (click)="goRegisterOrganization()">Зарегистрироваться</button>
      <div class="signin">
      У вас уже есть учетная запись?
      <a href="login" style="text-decoration: none;"><p class="hyperlink">&nbsp;Войти</p></a>
    </div>
      <a href = "signup/user" style="text-decoration: none;"><p class="hyperlink back"> Назад </p></a>
      </div>
    </div>
  </div>
</ng-template>
<app-footer></app-footer>
