::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color:rgb(250, 164, 73);
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle{
  color:rgb(250, 164, 73);
  background-color:rgb(250, 164, 73);
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:rgb(250, 164, 73);
}



.content{
  display: flex;
  flex-direction: column;
}

.image-fields{
  display: flex;

}

.fields{
  margin-right: 8vh;
}

.name-breed{
  display: flex;
  margin-bottom: 4vh;
}

.breed{
  display: flex;
}
.radio-btn{
  display: flex;
  align-items: baseline;
  justify-content: left;
  .gender-btn{
    margin-right: 4vh;
  }
  .male{
    margin-right: 2vh;
  }
  img{
    height: 3vh;
    width: 3vh;
  }
  .dog{
    margin-right: 2vh;
  }
  margin-bottom: 4vh;
}
.date-description{
  display: flex;
  margin-bottom: 2vh;
}
.description{
  width: 60vh;
  margin:  2vh 5vh 0 0;
}
.text-btn{
  display: flex;
  align-items: end;
}

.container-images{
  display: flex;
  align-items: center;
}

.no-image-size{
  height: 80px;
  min-width: 80px;
  width: auto;
  background-color: rgb(225, 225, 225);
  mat-icon{
    color: rgb(153, 153, 153);
  }
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
.no-image-main-size{
  width:320px;
  height: auto;
  min-height: 325px;
  background-color: rgb(225, 225, 225);
  mat-icon{
    color: rgb(153, 153, 153);
  }
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-main{
  width:320px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  mat-icon{
    font-size: 4vh;
  }
}
.mini-images-container{
  display: block;
}
.image{
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  mat-icon{
    font-size: 3vh;
  }
}

.uploaded-image{
  width: 30%;
  height: 30%;

}
.file-input {
  display: none;
}

.file-upload{
  display: flex;
  align-items: center;
  margin-top: 5vh;
.upload-btn{
  background-color:white ;
  color: rgb(22, 22, 22);
  margin-right: 2vh;
}
.add{
  background-color:rgb(73, 180, 96);
  color: white;
}
}
