<div class="content">
  <mat-form-field>
    <input matInput type="text" placeholder="Кличка">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Порода">
  </mat-form-field>
 <div class="radio-btn">
    <mat-radio-group class="gender-btn">
      <mat-radio-button value="1" class="male">М</mat-radio-button>
      <mat-radio-button value="2">Ж</mat-radio-button>
    </mat-radio-group>
    <mat-radio-group class="type-btn">
      <mat-radio-button value="1" class="dog"><img src="../../../assets/profile-svg/dog-face-svgrepo-com.svg" alt="Собака"></mat-radio-button>
      <mat-radio-button value="2"><img src="../../../assets/profile-svg/cat-face-svgrepo-com.svg" alt="Кот"></mat-radio-button>
    </mat-radio-group>
 </div>
  <mat-form-field>
    <input matInput type="date" placeholder="Дата рождения">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Описание</mat-label>
    <textarea class="description" matInput placeholder="
    Местоположение
    Состояние здоровья/прививки
    Какие-то сведения о характере питомца
    Контактный номер телефона"></textarea>
  </mat-form-field>
</div>
