<div class="content">
  <div class="first-column">
    <div class="first-block">
      <div class="first-block-first-column">
        <mat-form-field class="name">
          <input
            matInput
            type="text"
            placeholder="Кличка"
            [(ngModel)]="animal.name"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Вид животного</mat-label>
          <mat-select [(ngModel)]="animal.type" (selectionChange)="onAnimalTypeChange($event.value)">
            <mat-option *ngFor="let type of animalTypes" [value]="type.name">
              {{ type.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="gender">
          <mat-radio-group class="gender" [(ngModel)]="animal.gender">
            <mat-radio-button value="M" class="male">Мальчик</mat-radio-button>
            <mat-radio-button value="F">Девочка</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="first-block-second-column">
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Порода"
            [(ngModel)]="animal.breed"
          />
        </mat-form-field>
        <mat-form-field class="birthDate">
          <input
            matInput
            type="date"
            placeholder="Дата рождения"
            [(ngModel)]="animal.birthDay"
            required
          />
        </mat-form-field>
      </div>
    </div>
    <div class="second-block">
      <div class="attributes-block">
        <div class="attribute-block-header">
          <h3>Характеристики</h3>
          <mat-form-field appearance="fill">
            <mat-label>Выберите атрибут</mat-label>
            <mat-select (selectionChange)="addAttributeValue($event.value)">
              <mat-optgroup
                *ngFor="let attr of availableAttributes"
                [label]="attr.name"
              >
                <mat-option
                  *ngFor="let value of attr.values"
                  [value]="{ name: attr.name, value: value }"
                >
                  {{ value }}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="attribute-grid">
          <div
            class="attribute-item"
            *ngFor="let attr of animalAttributes | keyvalue"
          >
            <span class="attr-name">{{ attr.key }}:</span>
            <span class="attr-value">{{ attr.value }}</span>
            <button (click)="deleteAttributeValue(attr.key)" class="remove-btn" matTooltip="Удалить">
              ×
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="third-block">
      <mat-form-field class="description">
        <mat-label>Описание</mat-label>
        <textarea
          matInput
          style="height: 23vh; max-height: 23vh; min-height: 23vh;"
          placeholder="
            Местоположение
            Состояние здоровья/прививки
            Какие-то сведения о характере питомца
            Контактный номер телефона"
          [(ngModel)]="animal.description"
        ></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="second-column">
    <!-- Фотографии животного -->
    <div class="container-images">
      <div *ngIf="currentImage !== undefined; else emptyImage">
        <div class="main-image-wrapper" *ngIf="currentImage !== undefined; else emptyImage">
          <img [src]="currentImage.url" class="main-image" />
          <button class="delete-main-image-btn" (click)="deleteImage(currentImage)" matTooltip="Удалить главное фото">×</button>
        </div>
      </div>
      <ng-template #emptyImage>
        <div class="emptyImage"></div>
      </ng-template>

      <div class="list-image">
        <div *ngFor="let image of images">
          <img
            [src]="image.url"
            class="image"
            [ngClass]="{ active: image === currentImage }"
            (click)="setCurrentImage(image)"
          />
        </div>
      </div>
    </div>
    <div class="buttons">
      <input
        type="file"
        class="file-input"
        accept=".jpg, .jpeg, .png, .jfif"
        (change)="onFileSelected($event)"
        #fileUpload
      />
      <button
        mat-button
        class="add-photo-btn"
        (click)="fileUpload.click()"
        [disabled]="images.length >= 5"
      >
        Добавить фото
      </button>
      <button mat-raised-button class="save-btn" (click)="createAnimal()">
        Сохранить питомца
      </button>
    </div>
  </div>
</div>
