nav {
  background-color: rgb(73, 180, 96);
  height: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.logo{
  font-size: 30px;
  margin: 9px 0;
  color: white;
  &:hover{
    cursor: pointer;
  }
}

li {
  float: left;
  margin: 0 0 0 8vh;
}

li .btn {
  display: block;
  color: white;
  background-color: rgb(73, 180, 96);
  border: none;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 15px;
  &:hover {
    cursor: pointer;
    background-color: rgb(65, 158, 85);
    transition: 0.2s;
  }
}

li a{
  color: white;
  background-color: rgb(73, 180, 96);
  text-decoration: none;
  padding: 15px 16px;
  font-size: 15px;
  &:hover {
    text-decoration: underline;
  }
}

nav li:last-child {
  float: right;

}

.icon_account {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 23px 0 0;
  color: white;
  &:hover{
    cursor: pointer;
    background-color: black;
    color: rgb(244, 244, 244);
    transition: 0.2s;
  }

}



::ng-deep .menu_account{
  border: 2px solid rgb(250, 164, 73);
}

.btn_menu{
  color: rgb(34, 93, 47);
}

.icon_menu{
  color:rgb(34, 93, 47);
}

.hyperlink{
  display: flex;
}

