.content {
  width: 70vw;
  margin-left: 25vw;
  margin-top: 5vh;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10vh;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  margin-bottom: 1vh;
}

.table {
  border: 2px solid rgb(250, 164, 73);
  width: 90%;
  font-size: 14px;
}

.table-name {
  font-size: 18px;
  margin: 0;
  font-family: 'Gothic L';
}

.attribute-table {
  margin-bottom: 10vh;
}

mat-header-cell {
  padding: 0 0vh 0 0;
}

td.mat-cell {
  margin-bottom: auto;
}

mat-icon {
  &:hover {
    cursor: pointer;
  }
}

::ng-deep .mat-column-action {
  flex: 0 0 5vw;
}

::ng-deep .mat-column-name {
  flex: 0 0 20vw;
}

::ng-deep .mat-column-priority {
  flex: 0 0 10vw;
  text-align: center;
}

::ng-deep .mat-column-attributes
::ng-deep .mat-column-values {
  width: 100%;
}

.dragCursor {
  margin-left: 0.5vw;
  cursor: move !important;
}