<app-navigation-menu></app-navigation-menu>
<app-admin-panel-navigation-menu></app-admin-panel-navigation-menu>
<div class="content">
  <div class="animal-type-table">
    <div class="header">
      <p class="table-name">Виды животных</p>
      <button mat-raised-button (click)="createType()">Добавить</button>
    </div>

    <div class="table">
      <mat-table
        [dataSource]="animalTypes"
        matSort
        cdkDropList
        (cdkDropListDropped)="typeDrop($event)"
      >
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-icon (click)="editType(row.name)">create</mat-icon>
            <mat-icon (click)="deleteType(row.name)">delete</mat-icon>
            <mat-icon class="dragCursor">reorder</mat-icon>
          </mat-cell>
        </ng-container>

        <!-- name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Название</mat-header-cell
          >
          <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
        </ng-container>

        <!-- priority Column -->
        <ng-container matColumnDef="priority">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Приоритетность
          </mat-header-cell>
          <mat-cell class="priority-cell" *matCellDef="let row">{{
            row.priority
          }}</mat-cell>
        </ng-container>

        <!-- attributes Column -->
        <ng-container matColumnDef="attributes">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Атрибуты</mat-header-cell
          >
          <mat-cell *matCellDef="let row">
            {{ getTruncatedAttributes(row.attributes) }}
          </mat-cell>
        </ng-container>

        <mat-header-row
          *matHeaderRowDef="animalTypesDisplayedColumns"
        ></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: animalTypesDisplayedColumns"
          cdkDrag
          [cdkDragData]="row"
          class="draggable-row"
        ></mat-row>
      </mat-table>

      <mat-paginator
        [length]="typeTotalElements"
        [pageSize]="typeSize"
        [pageSizeOptions]="[5, 10, 15, 20]"
        [pageIndex]="typePage"
        (page)="typePageLoad($event)"
      >
      </mat-paginator>
    </div>
  </div>

  <div class="attribute-table">
    <div class="header">
      <p class="table-name">Характеристики</p>
      <button mat-raised-button (click)="createAttribute()">Добавить</button>
    </div>
    <div class="table">
      <mat-table
        [dataSource]="attributes"
        matSort
        cdkDropList
        (cdkDropListDropped)="attributeDrop($event)"
      >
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-icon (click)="editAttribute(row.name)">create</mat-icon>
            <mat-icon (click)="deleteAttribute(row.name)">delete</mat-icon>
            <mat-icon class="dragCursor">reorder</mat-icon>
          </mat-cell>
        </ng-container>

        <!-- name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Название</mat-header-cell
          >
          <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
        </ng-container>

        <!-- priority Column -->
        <ng-container matColumnDef="priority">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Приоритетность
          </mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.priority }}</mat-cell>
        </ng-container>

        <!-- values Column -->
        <ng-container matColumnDef="values">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Значения</mat-header-cell
          >
          <mat-cell *matCellDef="let row">
            {{ getTruncatedAttributeValues(row.values) }}
          </mat-cell>
        </ng-container>

        <mat-header-row
          *matHeaderRowDef="attributeDisplayedColumns"
        ></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: attributeDisplayedColumns"
          cdkDrag
          [cdkDragData]="row"
          class="draggable-row"
        ></mat-row>
      </mat-table>

      <mat-paginator
        [length]="attributeTotalElements"
        [pageSize]="attributeSize"
        [pageSizeOptions]="[5, 10, 15, 20]"
        [pageIndex]="attributePage"
        (page)="attributePageLoad($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>
<app-footer></app-footer>
