<div *ngIf="isSignedUp; else signupForm">
  Your registration is successful. Please login!
</div>

<ng-template #signupForm>
  <app-navigation-menu></app-navigation-menu>
  <div class="container">
    <h1 mat-title class="title">Регистрация</h1>
    <div mat-content class="content">
      <mat-form-field class="input">
        <input matInput type="text" placeholder="Логин" [(ngModel)]="form.username" required>
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput type="text" placeholder="Пароль" [(ngModel)]="form.password" required>
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput type="text" placeholder="Имя" [(ngModel)]="form.name" required>
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput type="text" placeholder="Фамилия" [(ngModel)]="form.lastname" required>
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput type="number" placeholder="Номер телефона" [(ngModel)]="form.phoneNumber" required>
      </mat-form-field>
      <mat-error class="errorMessageLogin" *ngIf="errorMessage">{{ errorMessage }}</mat-error>
      <div mat-actions class="actions">
      <button mat-raised-button class="signup" (click)="goRegisterUser()">Зарегистрироваться</button>
      <div class="signin">
      У вас уже есть учетная запись?
      <a href="login" style="text-decoration: none;"><p class="hyperlink">&nbsp;Войти</p></a>
    </div>
      <a href = "signup/organization" style="text-decoration: none;"><p class="hyperlink">Для приютов > > ></p></a>
      </div>
    </div>
  </div>
</ng-template>
<app-footer></app-footer>
