<h1 mat-dialog-title class="title">Редактирование</h1>
<div mat-dialog-content class='firstContent' *ngIf="!isOrg();else org">
  <mat-form-field class="input">
    <input matInput type="text" placeholder="Имя" [(ngModel)]="data.nameOrganization" required>
  </mat-form-field>
  <mat-form-field class="input">
    <input matInput type="text" placeholder="Фамилия" [(ngModel)]="data.passportNumber" required>
  </mat-form-field>
  <mat-form-field class="input">
    <input matInput type="number" placeholder="Номер телефона"
      [(ngModel)]="data.phoneNumber" required>
  </mat-form-field>
</div>
<ng-template #org>
<div mat-dialog-content class='secondContent'>
    <div class="fields">
      <mat-form-field class="input">
        <input matInput type="text" placeholder="Название организации" [(ngModel)]="organization.nameOrganization" required>
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput type="number" placeholder="Номер телефона" [(ngModel)]="organization.phoneNumber" required>
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput type="text" placeholder="Город" [(ngModel)]="organization.city" required>
      </mat-form-field>
    </div>
    <div class="fields">
      <mat-form-field class="input">
        <input matInput type="number" placeholder="Серия паспорта" [(ngModel)]="organization.passportSeries" required>
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput type="number" placeholder="Номер паспорта" [(ngModel)]="organization.passportNumber" required>
      </mat-form-field>
    </div>
</div>
</ng-template>
<div mat-dialog-actions>
  <button class='btn cancel' (click)="onNoClick()">Отмена</button>
  <button class="btn save" [mat-dialog-close]="organization">Сохранить</button>
</div>

